.header {
	text-align: center;
	padding: 5% 0;
	background-color: grey;
}

h1 {
	font-size: 2em;
	font-weight: bold;
}

.container {
	text-align: center;
	padding: 2% 0;
	
}

button {
	font-size: 1.5em;
}

form {
	text-align: center;
}