.container {
    width: 100%;
    border: 2px black dotted;
    height: 800px;
    position: relative;
}
#boxA {
    position: absolute;
    padding: 20px 20px;
    background-color: gray;
    border: 3px yellowgreen solid;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

#boxB {
    position: absolute;
    padding: 20px 20px;
    background-color: gray;
    border: 3px yellowgreen solid;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

#boxC {
    position: absolute;
    padding: 20px 20px;
    background-color: gray;
    border: 3px yellowgreen solid;
    left: 8px;
    bottom: 16px;
    font-size: 18px;
}

#boxD {
    position: absolute;
    padding: 20px 20px;
    background-color: gray;
    border: 3px yellowgreen solid;
    right: 16px;
    bottom: 8px;
    font-size: 18px;
}

#boxE {
    position: absolute;
    padding: 20px 20px;
    background-color: gray;
    border: 3px yellowgreen solid;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}